<%= form_for survey_setting do |f| %>
  <%- if survey_setting.errors.any? %>
    <ul>
      <%- survey_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :background_color %>
  <%= f.color_field :background_color %>

  <%= f.label :title_color %>
  <%= f.color_field :title_color %>

  <%= f.label :question_color %>
  <%= f.color_field :question_color %>
  <%= f.submit %>
<% end %>
